@use "../../../sass/variables";

.task-view {
  background-color: variables.$color-b-l;
  border-left: 4px solid;
  border-radius: 12px;
  padding: 2rem;
  max-width: 900px;
  margin: 2rem auto;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);

  .task-header {
    margin-bottom: 2rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid rgba(variables.$color-w, 0.1);

    .header-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
    }
  }

  .task-title {
    font-size: 1.75rem;
    font-weight: 600;
    margin: 0;
    color: variables.$color-w;
  }

  .task-status {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 999px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 0.85rem;
    letter-spacing: 0.5px;
  }

  .task-content {
    background-color: rgba(variables.$color-w, 0.05);
    border-radius: 8px;
    padding: 1.5rem;
  }
  .skeleton-task {
    display: flex;
    flex-direction: column-reverse;
    background-color: rgba(variables.$color-w, 0.05);
    border-radius: 8px;
    padding: 1.5rem;
    min-height: 270px;
  }

  .task-meta {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-between;
    .meta-item {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
      color: rgba(variables.$color-w, 0.8);
    }
    .meta-item-container {
      display: flex;
      gap: 10px;
    }
    .meta-label {
      font-weight: 500;
      font-size: 0.9rem;
    }

    .meta-value {
      font-weight: 400;
      color: variables.$color-w;
    }
  }

  .task-description {
    margin-bottom: 2rem;

    .description-title {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: 1.25rem;
      margin-bottom: 1rem;
      color: variables.$color-w;
    }

    .description-text {
      line-height: 1.6;
      color: variables.$color-w;
      word-break: break-word;
    }
  }

  .task-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 1.5rem;
    border-top: 1px solid rgba(variables.$color-w, 0.1);

    .action-buttons {
      display: flex;
      gap: 1rem;
    }
    .return-buttons {
      display: flex;
      gap: 1rem;
    }
  }

  .task-not-found {
    text-align: center;
    padding: 2rem;
    color: variables.$color-w;

    h3 {
      font-size: 1.5rem;
      margin: 1rem 0 0.5rem;
    }

    p {
      margin-bottom: 1.5rem;
      color: rgba(variables.$color-w, 0.8);
    }
    button {
      width: 100%;
      justify-content: center;
    }
  }
}
