@use "../../../sass/variables";

.task-view {
  background-color: variables.$color-b-l;
  padding: 2rem;
  border-radius: 12px;
  color: variables.$color-w;
  max-width: 700px;
  margin: 2rem auto;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);

  .task-header {
    text-align: center;
    margin-bottom: 2rem;
  }

  .task-view-title {
    font-size: 2.25rem;
    font-weight: 600;
    color: variables.$color-w;
  }

  .task-detail {
    background-color: variables.$color-b-l;
    padding: 1.75rem;
    border-radius: 10px;
    border: 1px solid variables.$color-g-d;

    .task-info-group {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 1.5rem;

      .task-info-item {
        margin-bottom: 0.5rem;
        span {
          display: block;
          font-size: 0.875rem;
          color: variables.$color-w;
          margin-bottom: 0.25rem;
        }
        .info-label {
          font-weight: 600;
          font-size: 1rem;
        }

        .info-value {
          font-weight: 500;
          &.category {
            color: #c084fc; // violet
          }
        }
      }
    }

    .task-title {
      font-size: 1.75rem;
      font-weight: 600;
      margin-bottom: 1rem;
      color: variables.$color-w;
    }

    .task-description {
      .description-title {
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
        color: variables.$color-w;
      }

      .description-text {
        font-size: 1rem;
        line-height: 1.6;
        color: variables.$color-w;
        white-space: pre-wrap;
      }
    }

    .task-actions {
      margin-top: 2rem;
      display: flex;
      justify-content: space-between;
      gap: 1rem;
      .task-editor {
        display: flex;
        gap: 1rem;
      }
    }
  }

  .task-not-found {
    text-align: center;
    color: variables.$color-d;
    font-size: 1.2rem;
    padding: 2rem;
    background-color: variables.$color-b;
    border-radius: 10px;

    h3 {
      margin-bottom: 0.5rem;
      color: variables.$color-w;
    }

    p {
      margin-bottom: 1.5rem;
      color: variables.$color-w;
    }
  }
}
