/* You can add global styles to this file, and also import other style files */
@use "./variables";

html,
body {
  background-color: variables.$color-b; // A rich dark navy/blue-gray
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Inter", sans-serif;
}

button {
  color: variables.$color-w;
  border: none;
  font-size: 0.85rem;
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
  &.btn-primary {
    background-color: variables.$color-p;
    &:hover {
      background-color: variables.$color-p-l;
    }
  }

  &.btn-secondary {
    background-color: variables.$color-s;
    &:hover {
      background-color: variables.$color-s-l;
    }
  }
  &.btn-info {
    background-color: variables.$color-a;
    &:hover {
      background-color: variables.$color-a-l;
    }
  }
  &.btn-danger {
    background-color: variables.$color-d;
    &:hover {
      background-color: variables.$color-d-l;
    }
  }
}

.title {
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: #f9fafb; // Bright heading
  border-bottom: 2px solid #374151;
  padding-bottom: 0.5rem;
}
.error {
  background-color: #dc2626;
  border-radius: 6px;
  padding: 5px;
  margin-top: 0.25rem;
}
