<section class="category-card">
    <div class="category-content">
        <div>
            <h3 class="category-title">{{ category().title }}</h3>
            <p class="category-description">
                <strong>Description:</strong> {{ category().description }}
            </p>

        </div>
        <div class="category-buttons">
            <button class="btn-primary" routerLink="/category/{{category().id}}">View Category</button>
            <button class="btn-danger" (click)="onDelete()">Delete</button>
            <button class="btn-info" (click)="onEdit()">Edit</button>
        </div>
    </div>
    @if (category().tasks && category().tasks.length > 0) {
    <div class="task-list">
        @for (task of category().tasks; track task.id) {
        <app-task-card [task]="task" [category]="category()" (taskDeleted)="handleTaskDeleted($event)" />
        }
    </div>
    } @else {
    <div class="empty-tasks">
        No tasks in this category yet
    </div>
    }
</section>