<section class="category-card">
    <div class="category-header">
        <h3 class="category-title">{{ category().title }}</h3>
        <div class="category-operate">

            <div class="category-status">
                <!-- <app-icon type="category" /> -->
                {{ category().tasks.length || 0 }} tasks
            </div>
            <div class="category-actions">
                <button class="btn btn-primary" routerLink="/category/{{category().id}}">
                    <app-icon type="view" />
                    View
                </button>
                <button class="btn btn-info" (click)="onEdit()">
                    <app-icon type="edit" />
                    Edit
                </button>
                <button class="btn btn-danger" (click)="onDelete()">
                    <app-icon type="delete" />
                    Delete
                </button>
            </div>
        </div>
    </div>

    <div class="category-content">
        <div class="category-details">
            <p class="category-description">

                {{ category().description || 'No description provided' }}
            </p>
        </div>


    </div>

    @if (category().tasks && category().tasks.length > 0) {
    <div class="task-list">
        @for (task of category().tasks; track task.id) {
        <app-task-card [task]="task" [category]="category()" (taskDeleted)="handleTaskDeleted($event)" />
        }
    </div>
    } @else {
    <div class="empty-tasks">
        <span>No tasks in this category yet</span>
    </div>
    }
</section>