@use "../../../sass/variables";

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(17, 24, 39, 0.85); // #111827 w/ opacity
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .modal-box {
    background-color: #1f2937;
    border: 1px solid #374151;
    padding: 2rem;
    border-radius: 12px;
    width: 100%;
    max-width: 500px;
    color: #f9fafb;
    @media (max-width: variables.$screen-sm) {
      width: 80%;
    }
    .modal-actions {
      display: flex;
      justify-content: flex-end;
      gap: 1rem;
    }
  }
}
