.task-card {
  background-color: #1e293b; // slightly lighter than category background
  border: 1px solid #334155;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  color: #e2e8f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  word-break: break-all;
  display: grid;
  grid-template-columns: 1fr auto;
  &:hover {
    background-color: #273549;
  }
  .task-title {
    font-size: 1rem;
    font-weight: 500;
    color: #f1f5f9;
    margin: 0;
  }
  .task-description {
    white-space: pre-wrap;
    word-break: break-all;
    .description-header {
      display: block;
    }
  }
  .task-buttons {
    width: 100%;
    display: flex;
    gap: 10px;
  }
}
