<div class="task-card">
  <div class="task-content">
    <h3>{{ task().title }}</h3>
    <p>Status:<span [style.color]="statusColor"> {{ statusText }}</span></p>
    <p class="task-description">
      <strong class="description-header">Description:</strong>{{task().description}}
    </p>
  </div>
  <div class="task-buttons">
    <button class="btn-primary" [routerLink]=" ['/category', category().id, 'task' , task().id]">View Task</button>
    <button class="btn-danger" (click)="onDelete()">Delete</button>
    <button class="btn-info" (click)="onEdit()">Edit</button>
  </div>
</div>