@use "../../../sass/variables";

.category-view {
  background-color: variables.$color-b-l;
  color: variables.$color-w;
  padding: 2rem;
  margin: 2rem auto;
  border-radius: 12px;
  max-width: 900px;
  .category-content {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .category-header {
    .category-title {
      font-size: 2rem;
      font-weight: 700;
    }
    .category-description,
    .category-subtext {
      font-size: 1rem;
      margin-bottom: 1rem;
      color: variables.$color-w;
      word-break: break-word;
      span {
        display: block;
        border-bottom: 2px solid variables.$color-g-d;
        margin-bottom: 10px;
        padding-bottom: 10px;
      }
    }
  }

  .category-tasks {
    background-color: variables.$color-g-d;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1.5rem;
    .title {
      font-size: 1.2rem;
      color: variables.$color-a;
    }
  }

  .category-actions {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    .category-editor {
      display: flex;
      gap: 1rem;
    }
  }

  .category-error {
    text-align: center;
    h1 {
      font-size: 1.8rem;
      color: variables.$color-d;
    }
  }
}
