<section class="category-view">
    @if (category) {
    <div class="category-content">
        <div class="category-header">
            <div>
                <h1 class="category-title">{{category.title}}</h1>
                <p class="category-description">This is the category for everything {{category.title}} related</p>
                <p class="category-subtext">Following tasks assigned to this are:</p>
            </div>
            <div class="category-buttons">
                <button class="btn-primary" (click)="onCreateTask()">Create Task</button>
                <button class="btn-danger" (click)="onDelete()">Delete</button>
                <button class="btn-info" (click)="onEdit()">Edit</button>
            </div>
        </div>
        <div class="tasks">
            <h3 class="title">Tasks ({{ category.tasks.length }})</h3>
            @for (task of category.tasks; track task.id) {
            <app-task-card [task]="task" [category]="category" />
            }
        </div>
    </div>
    } @else {
    <div class="category-error">
        <h1>Category not found</h1>
        <p>This category could not be found. Please report this</p>
    </div>
    }
    <div class="footer-buttons">
        @if (category) {<button class="btn btn-danger" (click)="onDelete()">Delete</button>}
        <button class="btn btn-secondary" routerLink="/">Return</button>
    </div>
</section>