@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

.task-manager {
  font-family: "Inter", sans-serif;
  padding: 2rem;
  background-color: #1f2937; // Dark outer background
  border-radius: 12px;
  max-width: 900px;
  margin: 2rem auto;
  color: #d1d5db; // Soft light text
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);

  .task-header {
    margin-bottom: 10px;
    .title {
      font-size: 1.75rem;
    }
    .creation-container {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      button {
        width: 100%;
      }
    }
  }
  .category-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .category-item {
    app-category-card {
      display: block;
      padding: 1rem;
      background-color: #111827; // Inner card background
      border-radius: 8px;
      border: 1px solid #374151;
    }
  }
}
