<div class="task-manager">
    <div class="task-header">
        <h2 class="title">Task Manager</h2>
        <div class="creation-container">
            <button class="btn-primary" (click)="onCreateCategory()">Create Category</button>
            @if (categories.length > 0) {
            <button class="btn-primary" (click)="onCreateTask()">Create Task</button>
            }
        </div>
    </div>
    <div>
        <app-search (searchChanged)="onSearch($event)" />
    </div>
    <div class="category-list">
        @for (category of filteredCategories; track category.id) {
        <app-category-card [category]="category" (categoryDeleted)="handleCategoryDeleted($event)"
            (edit)="handleCategoryEdit($event)" (taskDeleted)="handleTaskDeleted($event)" />
        }
        @if (searchTerm && filteredCategories.length === 0) {
        <div class="no-results">No matching categories or tasks found for "{{searchTerm}}"</div>
        }
    </div>
</div>