<section>
    <div class="form-header">
        <h2 class="form-title">
            {{ modalService.modalType === 'add' ? 'Add New Task' : 'Edit Task' }}
        </h2>
        <button class="btn-danger" (click)="modalService.closeModal()">
            <app-icon type="cancel" />
        </button>
    </div>

    <form [formGroup]="taskForm" (ngSubmit)="onSubmit()" class="form-container">
        <!--Title-->
        <div class="form-group">
            <label [for]="modalService.modalType + '-title'" class="form-label">Title</label>
            <input [id]="modalService.modalType + '-title'" class="form-input" formControlName="title"
                placeholder="Title" type="text" autocomplete="off" />
            @if (taskForm.get('title')?.touched && taskForm.get('title')?.errors?.['required']) {
            <div class="error">
                <small>Title is required.</small>
            </div>
            }
        </div>

        <!--Description-->
        <div class="form-group">
            <label [for]="modalService.modalType + '-description'" class="form-label">Description</label>
            <textarea rows="10" cols="50" [id]="modalService.modalType + '-description'" class="form-input"
                formControlName="description" placeholder="Add description" autocomplete="off"></textarea>
            @if (taskForm.get('description')?.touched && taskForm.get('description')?.errors?.['required']) {
            <div class="error">
                <small>Description is required.</small>
            </div>
            }
        </div>

        <!--Category-->
        <div class="form-group">
            <label [for]="modalService.modalType + '-category_id'">Select a category</label>
            <select [id]="modalService.modalType + '-category_id'" formControlName="category_id" class="form-input">
                <option value="" disabled>Select a category</option>
                @for (category of categories; track category.id) {
                <option [value]="category.id">{{ category.title }}</option>
                }
            </select>

            @if (taskForm.get('category_id')?.touched && taskForm.get('category_id')?.errors?.['required']) {
            <div class="error">
                <small>Category is required.</small>
            </div>
            }
        </div>

        <!--Due Date-->
        <div class="form-group">
            <label [for]="modalService.modalType + '-due'">Due Date</label>
            <input [id]="modalService.modalType + '-due'" type="date" formControlName="due" class="form-input"
                autocomplete="off" />
            @if (taskForm.get('due')?.touched && taskForm.get('due')?.errors?.['required']) {
            <div class="error">
                <small>Due date is required.</small>
            </div>
            }
        </div>

        <!--Status-->
        <div class="form-group">
            <label [for]="modalService.modalType + '-status'" class="form-label">Status</label>
            <select [id]="modalService.modalType + '-status'" formControlName="status" class="form-input">
                <option [value]="1">Todo</option>
                <option [value]="2">In Progress</option>
                <option [value]="3">Done</option>
            </select>
        </div>
        @if (errorMessage) {
        <div class="error">
            {{ errorMessage }}
        </div>
        }
        <div class="form-actions">
            <button class="btn-primary" type="submit" [disabled]="isSubmitting">
                <app-icon type="edit" />
                {{ modalService.modalType === 'add' ? 'Create' : 'Save Changes' }}
            </button>
        </div>
    </form>
</section>