/* You can add global styles to this file, and also import other style files */
html,
body {
  background-color: #0f172a; // A rich dark navy/blue-gray
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Inter", sans-serif;
}

button {
  color: white;
  border: none;
  font-size: 0.85rem;
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
  &.btn-primary {
    background-color: #44a31e;
    &:hover {
      background-color: #5be026;
    }
  }

  &.btn-secondary {
    background-color: #374151;
    &:hover {
      background-color: #4b5563;
    }
  }
  &.btn-info {
    background-color: #2563eb;
    &:hover {
      background-color: #3b82f6;
    }
  }
  &.btn-danger {
    background-color: #dc2626;
    &:hover {
      background-color: #ef4444;
    }
  }
}

.title {
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: #f9fafb; // Bright heading
  border-bottom: 2px solid #374151;
  padding-bottom: 0.5rem;
}
.error {
  background-color: #dc2626;
  border-radius: 6px;
  padding: 5px;
  margin-top: 0.25rem;
}
